In [7]:
import pickle
import pandas as pd

In [8]:
path_pickles = "../Models/"

list_pickles = [
    "df_models_lrc.pickle",
    "df_models_mnbc.pickle",
    "df_models_xgbc.pickle"
]

df_summary = pd.DataFrame()

for pickle_ in list_pickles:
    
    path = path_pickles + pickle_
    
    with open(path, 'rb') as data:
        df = pickle.load(data)

    df_summary = df_summary.append(df)

df_summary = df_summary.reset_index().drop('index', axis=1)

In [9]:
df_summary

,Model,Training Set Accuracy,Test Set Accuracy
0,Logistic Regression,0.871250,0.70750
1,Multinomial Na誰ve Bayes,0.830937,0.69125
2,eXtreme Gradient Boosting Classifier,0.900312,0.67250

In [10]:
df_summary.sort_values('Test Set Accuracy', ascending=False)

,Model,Training Set Accuracy,Test Set Accuracy
0,Logistic Regression,0.871250,0.70750
1,Multinomial Na誰ve Bayes,0.830937,0.69125
2,eXtreme Gradient Boosting Classifier,0.900312,0.67250